body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  margin: 0;
  /* margin-bottom: 20px; */
}

.landing-page--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-video {
  position: absolute;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

/* #return-trips {
  display: none;
} */

.landingBlock {
  background-color: rgba(244, 209, 13, 0.3);
  border-radius: 10px;
  /* opacity: 0.2; */
  color: white;
  text-align: center;
  padding: 1%;
}

#formBtn {
  color: rgb(255, 254, 254);
}

.meetup_event {
  margin: 2%;
  padding: 20px;
  display: flex;
  /* max-height: 40%; */
  /* border: 2px solid rgba(211, 211, 211, 0.5); */
  /* max-height: 400px; */
  overflow: hidden;
}

/*  */

.meetup_desciption,
p {
  display: none;
}

.meetup_desciption,
p:nth-child(1) {
  display: inherit;
}

/*  */

.group1 {
  max-width: 20%;
  max-height: 100%;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.group2 {
  width: 80%;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.subgroup {
  display: flex;
  justify-content: space-around;
}

.meetup_image {
  /* padding: 5px; */
  margin: 5px;
}

.zeorMeets {
  text-align: center;
  padding: 1%;
  /* margin: 1%; */
}

.weatherIcon {
  max-width: 150px;
  max-height: 150px;
}

#weather-info {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 1%; */
  /* padding: 20px; */
  flex-wrap: wrap;
  text-align: center;
}

.cityWeather {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

#map {
  height: 350px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.inactive {
  display: none;
}

.active {
  display: block;
}

#returnTrips {
  width: 60vw;
  margin: 1%;
}

.rTrip {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  widows: 80vw;
  padding-left: 20px;
  margin: 10px;
}

/* .groupFire {} */

.orgImage {
  max-width: 30vw;
  min-width: 150px;
  height: 15vh;
}

#contact-submit {
  font-weight: bold;
}

/*  */

@media (max-width: 667px) {
  /*  */
  /* body {
    background-color: lightred;
  } */
  .cityWeather {
    display: flex;
    flex-direction: column;
  }
  .meetup_event {
    display: flex;
    flex-direction: column;
  }
  .group1 {
    max-width: 80vw;
    justify-content: center;
    align-items: center;
  }
}
