body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  margin: 0;
  margin-bottom: 20px;
}

.landing-page--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#return-trips {
  display: none;
}

.Boxed {
  border: 2px solid green;
}

.landingBlock {
  background-color: rgba(244, 209, 13, 0.3);
  border-radius: 25px;
  /* opacity: 0.2; */
  color: white;
  text-align: center;
}