body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.jumbotron {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  margin: 0;
}

.landing-page--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-video {
  position: absolute;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.landingBlock {
  background-color: rgba(244, 209, 13, 0.3);
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 1%;
}

#tagline {
  font-size: 2rem;
  font-family: 'Courgette', cursive;
  color: whitesmoke;
}

#formBtn {
  color: rgb(255, 254, 254);
  font-weight: bold;
  border-color: gold;
}

#region-list {
  border-color: gold;
}

h4 {
  font-family: 'Courgette', serif;
}

.meetup_event {
  margin: 2%;
  padding: 20px;
  display: flex;
  overflow: hidden;
}

.meetup_desciption, p {
  display: none;
}

#cardP {
  display: block;
}

.meetup_desciption,
p:nth-child(1) {
  display: inherit;
}

.group1 {
  max-width: 20%;
  max-height: 100%;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.group2 {
  width: 80%;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.subgroup {
  display: flex;
  justify-content: space-around;
}

.meetup_image {
  margin: 5px;
}

.zeorMeets {
  text-align: center;
  padding: 1%;
}

.weatherIcon {
  max-width: 150px;
  max-height: 150px;
}

#weather-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: whitesmoke;
}

.cityWeather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

#map {
  height: 50vh;
  width: 100%;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

#returnTrips {
  width: 60vw;
  margin: 1%;
}

.rTrip {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  widows: 80vw;
  padding-left: 20px;
  margin: 10px;
}

.orgImage {
  max-width: 30vw;
  min-width: 150px;
  height: 15vh;
}

#contact-submit {
  font-weight: bold;
}

.panelHeader {
  display: inline-flex;
  font-weight: bold;
}

#news-image {
  width: 10%;
  height: 10%;
}

.media {
  padding: 1rem;
  width: 70vw;
  margin: 0.5rem;
}

/*  */

@media (max-width: 667px) {
  .cityWeather {
    display: flex;
    flex-direction: column;
  }
  .meetup_event {
    display: flex;
    flex-direction: column;
  }
  .group1 {
    max-width: 80vw;
    justify-content: center;
    align-items: center;
  }
}
